---
---

//
// IMPORTS
//
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

//
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: $roboto;
}

.navbar {
    margin: 0;
}

.row-cover {
    padding-top: 9em;
    padding-bottom: 8em;
}

.row-cover .img-circle:hover {
    box-shadow: 0 0 6px 3px darkgreen;
}

.navbar-right a:hover {
    border-bottom: 1px solid green;
    font-weight: bold;
}

.row-thumbs {
    padding-top: 8em;
    padding-bottom: 9em;
}

.thumb {
    padding-top: 2em;
    padding-bottom: 3em;
}

.footer .container {
    padding-top: 3em;
    padding-bottom: 4em;
}

.icon-area {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.footer-icon {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.copyright {
    padding-top: 2em;
    padding-bottom: 1em;
}


a:hover {
    color: green !important;
}

// post
.post {
    padding-top: 4em;
    padding-bottom: 4em;
}
// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
