---
---

//
// IMPORTS
//
@import "_variables";
// Syntax highlighting @import is at the bottom of this file

@media (min-width: 1200px) {
    .container{
        max-width: 970px;
    }
}

//
html {
    height: 100%;
}

body {
    min-height: 100%;
    margin: 0;
    font-family: $roboto;
}

.navbar {
    margin: 0;
}

.row-cover {
    padding-top: 9em;
    padding-bottom: 8em;
}

.row-cover .img-circle:hover {
    box-shadow: 0 0 6px 3px darkgreen;
}

.navbar-right a:hover, .navbar-right .active a {
    border-bottom: 1px solid green;
    color: green !important;
}

.row-thumbs {
    padding-top: 8em;
    padding-bottom: 9em;
}

.thumb {
    padding-top: 2em;
    padding-bottom: 3em;
}

.footer .container {
    padding-top: 3em;
    padding-bottom: 4em;
}

.icon-area {
    padding-bottom: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 1em;
}

.footer-icon {
    padding-left: 0.2em;
    padding-right: 0.2em;
}

.poweredby {
    padding-top: 0.2em;
    padding-bottom: 0.4em;
}

.lastrow {
    padding-top: 2em;
    padding-bottom: 1em;
}


a:hover {
    color: green !important;
}

.lead a {
    font-size: inherit;
}

.comments {
    padding-top: 6em;
    padding-bottom: 2em;
}


// post
.post {
    padding-top: 5em;
    padding-bottom: 4em;

    .timelab {
        margin: 0;
        padding-top: 1em;
    }

    .tags {
        padding-top:0.5em;
        padding-bottom: 3em;
    }

    .entry {
        padding-top: 1em;
    }
}

//posts
.posts {
    padding-top: 2em;
    padding-bottom: 6em;
}

.posts .post {
    padding-top: 3em;
    padding-bottom: 1em;

    header {
        display: block;
        padding-top: 0.2em;
    }

    header:after {
        clear: both;
    }

    .timelab {
        float: right;
        padding: 0;
        margin: 0;
    }

    .tags {
        float: left;
        padding: 0;
        margin: 0;
    }

    h3 {
        padding-top: 0.5em;
    }

    blockquote {
        margin: 0;
    }
}

//
.pager{
    padding-bottom: 2em;
}

//
.tagcloud {
    font-size: 2em;
    padding-top: 2em;
    padding-bottom: 4em;
}

a .taglink:hover {
}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "_highlights";
