---
belongs: blogs
---

    <div class="container-fluid">
        <div class="container">
            <div class="page-header text-center">
                <h1>Blogs</h1>
            </div>

            <br />
            <h4><a href="{{ site.baseurl }}tags/"><i class="fa fa-cloud"></i> See the Tag Could</a></h4>

            <div class="posts">
                {% for post in paginator.posts %}
                    <article class="post">    
                        <h3><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
                        <blockquote>
                            <p>{{ post.content | truncatewords:40 | escape_once | strip_html }} </p><span>&hellip;</span> 
                        </blockquote>
                        <header>
                            <div class="tags">
                                {% for tag in post.tags %}
                                    <a class="taglink" href="{{ site.baseurl }}tags/{{ tag }}/"><span class="label label-{% cycle 'primary', 'success', 'warning', 'danger' %}">{{ tag }}</span></a>
                                {% endfor %}
                            </div>
                            <div class="timelab">
                                {{ post.date | date: "%B %e, %Y" }}
                            </div>
                        </header>
                    </article>
                {% endfor %}
            </div>

            {% if paginator.total_pages > 1 %}
                <nav>
                    <ul class="pager pager-bottom">
                        <li {% if paginator.previous_page == nil %}class="disabled"{% endif %}><a href="{{ site.baseurl }}/blogs/"><i class="fa fa-angle-double-left"></i> First</a></li>
                        <li {% if paginator.previous_page == nil %}class="disabled"{% endif %}><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-angle-left"></i> Previous</a></li>

                        <li>&nbsp;&nbsp;&nbsp;</li>
                        <li><a href="#">Page {{ paginator.page }} of {{ paginator.total_pages }}</a></li>
                        <li>&nbsp;&nbsp;&nbsp;</li>

                        <li {% if paginator.next_page == nil %}class="disabled"{% endif %}><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next <i class="fa fa-angle-right"></i></a></li>
                        <li {% if paginator.next_page == nil %}class="disabled"{% endif %}><a href="{{ site.baseurl }}/page{{ paginator.total_pages }}/">Last <i class="fa fa-angle-double-right"></i></a></li>
                    </ul>
                </nav>
            {% endif %}
        </div>
    </div>
