<!DOCTYPE html>
<html {% if page.lang %}lang="{{ page.lang }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta name="copyright" content="{{ site.copyright }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="icon" type="image/png" href="images/avatar.jpg">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/simplex/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic'>
    <link rel="stylesheet" href="{{ site.baseurl }}/style.css" />

    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default navbar-fixed-top hidden-print" role="navigation">
        <div class="container">
            <!-- header -->
            <div class="navbar-header">
                <!-- toggle -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- brand -->
                <a class="navbar-brand" href="{{ site.url }}">
                    <i class="fa fa-leaf"></i>{{ site.name }}
                </a>
            </div>
            <!-- main -->
            <div class="navbar-left navbar-collapse collapse">
                <!-- links -->
                <ul class="nav navbar-nav">
                    <li class="active"><a href="index.html"><?php echo $DICT['home'] ?></a></li>
                    <li><a href="plans.html"><?php echo $DICT['plans'] ?></a></li>
                    <li><a href="events.html"><?php echo $DICT['events'] ?></a></li>
                    <li><a href="downloads.html"><?php echo $DICT['downloads'] ?></a></li>
                    <li><a href="prayers.html"><?php echo $DICT['prayers'] ?></a></li>
                    <li><a href="locations.html"><?php echo $DICT['locations'] ?></a></li>
                    <li><a href="links.html"><?php echo $DICT['links'] ?></a></li>
                </ul>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.baseurl }}/blog" title="My blogs">Blog</a></li>
                    <li><a href="{{ site.baseurl }}/about" title="About me">About</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div id="main" role="main" class="container">
      {{ content }}
    </div>

    <div class="wrapper-footer">
      <div class="container">
        <footer class="footer">
          {% include svg-icons.html %}
        </footer>
      </div>
    </div>

    {% include analytics.html %}

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</body>
</html>
