<!DOCTYPE html>
<html {% if page.lang %}lang="{{ page.lang }}"{% endif %}>
<head>
    <meta charset="utf-8">
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'>

    <meta name="author" content="{{ site.name }}">
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{% if page.tags %}{{ page.tags | join:", " }}{% else %}{{ site.keywords }}{% endif %}">
    <meta name="copyright" content="{{ site.copyright }}">

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>
    <link rel="icon" href="_images/fa-leaf.png">

    <!-- stylesheets -->
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.0/paper/bootstrap.min.css">
    <!-- font awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <!-- site -->
    <link rel="stylesheet" href="/styles/site.css"/>

    <!-- other links -->
    <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml">

    <!-- scripts -->
    {% if site.google_analytics %}
    <!-- google analytics -->
    <script src="/scripts/analytics.js"></script>
    {% endif %}
    <!-- jquery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <!-- bootstrap -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <!-- site -->
    <script src="/scripts/site.js"></script>
</head>

<body>
    <!-- Navigation bar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- header -->
            <div class="navbar-header">
                <!-- toggle -->
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- brand -->
                <a class="navbar-brand text-primary" href="{{ site.baseurl }}/">
                    <strong><i class="fa fa-leaf"></i><span class="brand"> {{ site.name }}</span></strong>
                </a>
            </div>
            <div class="navbar-right navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if page.belongs == 'blogs' %}class="active"{% endif %}><a href="{{ site.baseurl }}/blogs" title="My Blogs">Blogs</a></li>
                    <li {% if page.belongs == "projects" %}class="active"{% endif %}><a href="{{ site.baseurl }}/projects" title="My projects">Projects</a></li>
                    <li {% if page.belongs == "publications" %}class="active"{% endif %}><a href="{{ site.baseurl }}/publications" title="My Publications">Publications</a></li>
                    <li {% if page.belongs == "resume" %}class="active"{% endif %}><a href="{{ site.baseurl }}/resume" title="My Resume">Resume</a></li>
                    <li {% if page.belongs == "about" %}class="active"{% endif %}><a href="{{ site.baseurl }}/about" title="About Me">About</a></li>
                </ul>
                <form class="navbar-form navbar-right" role="search" action="http://www.google.com/cse">
                    <div class="form-group">
                        <div class="input-group input-group-sm pull-right">
                            <input type="text" class="hidden" name="cx" value="012550738276790682067:-jjnocossww"></input>
                            <input type="text" class="hidden" name="ie" value="UTF-8"></input>
                            <input id="searchinput" type="search" class="form-control" placeholder="Insite Search" name="q" title="Insite Search" required></input>
                            <span class="input-group-btn">
                                <button id="searchbutton" type="submit" class="btn btn-success"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Content -->
    {{ content }}

    <!-- footer -->
    <div class="footer container-fluid bg-success">    
        <div class="container text-muted text-center">
            <div class="icon-area fa fa-2x text-muted">
                {% include svg-icons.html %}
            </div>
            <div class="poweredby">
                Powered by:
                <ul class="list-inline">
                    <li><a class="text-muted" href="https://pages.github.com/">GitHub Pages</a></li>
                    <li><a class="text-muted" href="http://jekyllrb.com/">Jekyll</a></li>
                    <li><a class="text-muted" href="http://liquidmarkup.org/">Liquid</a></li>
                    <li><a class="text-muted" href="http://kramdown.gettalong.org/index.html">Kramdown</a></li>
                    <li><a class="text-muted" href="http://pygments.org/">Pygments</a></li>
                    <li><a class="text-muted" href="http://getbootstrap.com/">Bootstrap</a></li>
                    <li><a class="text-muted" href="http://jquery.com/">JQuery</a></li>
                    <li><a class="text-muted" href="http://fortawesome.github.io/Font-Awesome/">Font Awesome</a></li>
                    <li><a class="text-muted" href="https://disqus.com">DISQUS</a></li>
                </ul>
            </div>
            <div class="lastrow">
                <a class="copyright text-muted" href="{{ site.baseurl }}/copyright"><i class="fa fa-copyright"></i> 2014 by Guidi Zhou.</a>
            </div>
        </div>
    </div>
</body>
</html>
