---
layout: page
belongs: blogs
---

    <div class="container-fluid">
        <div class="container">
            <article class="post">
                <header class="text-center">
                    <h2>{{ page.title }}</h2>
                    <div class="timelab lead">
                      Created: {{ page.date | date: "%b %e, %Y" }}
                      {% if page.moddate %}; Updated: {{ page.moddate | date: "%b %e, %Y" }}{% endif %}
                    </div>
                    <div class="tags lead">
                      {% for tag in page.tags %}
                      <span class="label label-{% cycle 'primary', 'success', 'warning', 'danger' %}">{{ tag }}</span>
                      {% endfor %}
                    </div>
              </header>

              <div class="entry lead">
                {{ content }}
              </div>

              {% include disqus.html disqus_identifier=page.disqus_identifier %}
            </article>
        </div>
    </div>
