---
layout: page
belongs: blogs
---
    <!-- page-specific stylesheets -->
    <link rel="stylesheet" href="/styles/blog.css">
    <!-- page-specific scripts -->
    {% if site.disqus %}
    <!-- disqus -->
    <script src="//{{ site.disqus }}.disqus.com/embed.js" async="true"></script>
    {% endif %}
    <!-- site -->
    <script src="/scripts/post.js"></script>

    <div class="container-fluid">
        <div class="container">
            <article class="post">
                <!-- header -->
                <header class="text-center">
                    <!-- title -->
                    <h2>{{ page.title }}</h2>
                    <!-- timestamp -->
                    <div class="timelab lead">
                      {{ page.date | date: "%B %e, %Y" }}
                    </div>
                    <!-- tags -->
                    <div class="tags lead">
                      {% for tag in page.tags %}
                      <a class="taglink" href="{{ site.baseurl }}/blogs/tags/{{ tag }}/"><span class="label label-{% cycle 'primary', 'success', 'warning', 'danger' %}">{{ tag }}</span></a>
                      {% endfor %}
                    </div>
                  </header>

                  <br />
                  <!-- jumps -->
                  <ul class="list-inline text-center">
                      <li class="h5"><a href="{{ site.baseurl }}/blogs/"><i class="fa fa-tasks"></i> Block View</a></li>
                      <li class="divider"></li>
                      <li class="h5"><a href="{{ site.baseurl }}/blogs/listview/"><i class="fa fa-list"></i> List View</a></li>
                      <li class="divider"></li>
                      <li class="h5"><a href="{{ site.baseurl }}/blogs/tags/"><i class="fa fa-cloud"></i> Tag Could</a></li>
                  </ul>

                  <!-- TOC -->
                  <nav role="navigation" class="table-of-contents text-center">
                      <h5 class="text-primary"><i id="toggle-icon" class="fa fa-plus-circle"></i> Table of Contents</h5>
                      <ol id="toc" class="lead text-primary">
                      </ol>
                  </nav>

                  <!-- post content -->
                  <div class="entry lead">
                    {{ content }}
                  </div>

                {% if page.moddate %}
                <!-- update timestamp -->
                <div class="timelab lead">
                    Last Update: {{ page.moddate | date: "%B %e, %Y" }}
                </div>
                {% endif %}

                <!-- disqus begins -->
                {% include disqus.html disqus_identifier=page.disqus_identifier %}
                <!-- disqus ends -->
            </article>
        </div>
    </div>

    <!-- disqus starts -->
    {% if site.disqus %}
    {% include disqus.html %}
    {% endif %}
    <!-- disqus ends -->
