---
---

//
// stylesheet for a single blog
//

//
@import "label.scss";
@import "code.scss";

// toc
.table-of-contents {
    padding-top: 2em;
    padding-bottom: 7em;

    h5 {
        cursor: pointer;
        display: inline;
    }

    ol {
        padding-top: 1em;
    }

    li {
    }
}

// post
.post {
    padding-top: 5em;
    padding-bottom: 4em;

    .timelab {
        margin: 0;
        padding-top: 1em;
    }

    .tags {
        padding-top:0.5em;
        padding-bottom: 3em;
    }

    .entry {
        padding-top: 1em;
    }

    h3 {
        padding-top: 1em;
        padding-bottom:0.2em;
    }

    h4 {
        padding-top: 0.4em;
        padding-bottom: 0.1em;
    }

    blockquote {
        border-color: SeaGreen;
        font-size: 1.2em;
    }
}

// comments
.comments {
    padding-top: 6em;
    padding-bottom: 2em;
}
