//
// stylesheet for the index page
//

.row-cover {
    padding-top: 9em;
    padding-bottom: 8em;
}

.row-cover .img-circle:hover {
    box-shadow: 0 0 6px 3px darkgreen;
}

.row-thumbs {
    padding-top: 8em;
    padding-bottom: 9em;
}

.thumb {
    padding-top: 2em;
    padding-bottom: 3em;
}
